

<div class="container">
    <div class="row">
        <div class="col-md-6 col-l-6">
			<h1>Create Your Hypothesis</h1>

			<%= render 'form' %>

			<%= link_to 'Back', hypotheses_path %>
 		</div>

		<div class="col-md-6 col-l-6"> 
    		<h1>Help from the Coach</h1>

    		<%=image_tag("good1.png",:alt=>"Responsive image") %>
            </br>
        	</br>
       		<p><h3>Examples</h3></p>

       		<%=image_tag("good2.png",:alt=>"Responsive image") %>
       		 </br>
       		 </br>
      		 <p>Reducing the sign up steps from 3 to 1 will increase sign ups for all new sign ups
	  		 by 25% after 1,000 sign ups.</p>

	  		 <p>This subject line will increase open rates for daily digest subscribers by 15% after
             3 days.</p>


       
            <h4>Give it a shot! </h4>
            </br>
            
            <h5>Not ready yet? </h5>

           <button class="btn btn-info" type="button" href="/hypotheses/"><%= link_to 'View All Hypotheses',hypotheses_path %></button>




        </div>
         <a class="btn btn-link  " href="http://www.producttalk.org/" target="_blank">Courtesy of Teresa Torres at Product Talk</a>

    </div>

</div>

