<!-- <p id="notice"><%= notice %></p> -->


<h1>BooYah <%= @hypothesis.name %>!  You just made yourself a hypothesis!!! </h1>
<h3>Here it is:</h3>

<p><h3>
 
  <%= @hypothesis.change %>

  <%= @hypothesis.impact %>

  <%= @hypothesis.who %>

  <%= @hypothesis.how_much %>

  <%= @hypothesis.how_long %>
</h3></p>

</br>
</br>
<%= link_to 'Edit', edit_hypothesis_path(@hypothesis) %> |
<%= link_to 'View All Hypotheses', hypotheses_path %>
